@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --card-background: #c3b6c8;
  --inner-card: #faf8dd;
  --text-card: #664175;
  --hover: rgba(102, 65, 117, 0.8);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
